*{padding: 0; margin: 0; box-sizing: border-box;}
 body{
     height: 900px;
 	background-color: tan;

 }
 header {
 	text-align: center;
 	width: 100%;
 	height: auto;
 	background-size: cover;
 	background-attachment: fixed;
 	position: relative;
 	overflow: hidden;
     border-radius: 0 0 85% 85% / 30%;
     margin-bottom: 50px;
 }

 header .overlay{
 	width: 100%;
 	height: 100%;
 	padding: 50px;
 	color: #FFF;
 	text-shadow: 1px 1px 1px #333;

 }

 h1 {
 	font-family: sans-serif;
 	font-size: 80px;
 	margin-bottom: 30px;
 }

 h3, p {
 	font-family: sans-serif;
 	margin-bottom: 30px;
 }

 #map{
     float: left;
 	border: black solid 1px;
 	margin-top: 20px;
 	margin-left: 200px;
 }

 #searchBrewey{
 	float: left;
 }

 #search{
 	font-size: medium;
 	float: left;
 }


 .image{
     width: 100%;
     height: 550px;
     background-size: cover;
     background-attachment: relative;
     overflow: hidden;
     border-radius: 0 0 85% 85% / 30%;
 	margin-bottom: 50px;
 	display: inline-block;  
 	z-index: 999;
 }

 .headertext{
 	color: white;
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);
 	}

 .whole{
 	float: left;
 	margin-right: 500px;
 	padding-top: 25px;
 }

 .searchtext{
 	font-size: 25px;
 }

 /* Unit measure switch formatting is next 7 formatting sections*/
.switch {
  height: 33px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  width: 55%;
  margin-left: 42px;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(172, 130, 76);
  -webkit-transition: .7s;
  transition: .7s;
  border-radius: 5px;
}

.slider:before {
  position: absolute;
  content: "Results";
  padding-bottom: 30px;
  height: 28px;
  width: 50%;
  left: 4px;
  bottom: 3px;
  background-color: burlywood;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  -webkit-transition: .7s;
  transition: .7s;
  border-radius: 5px;
}

.slider:hover:before{
	background-color: rgb(143, 89, 18);
}

.slider:focus{
	background-color: rgb(143, 89, 18);
}

input:checked + .slider {
  background-color: rgb(172, 130, 76);
}

input:checked + .slider:before {
  background-color: burlywood;
  content: "Wish List";
  -webkit-transform: translateX(96%);
  -ms-transform: translateX(96%);
  transform: translateX(96%);
}

input:checked + .slider:hover:before{
	background-color: rgb(143, 89, 18);
}

 .results{
 	margin-top: 20px;
 	margin-left: 25px;
 	height: 100px;
 	width: 100%;
 }

 .emptydiv{
 margin-left: 30px;
 border: solid black 1px;
 float: left;
 height: auto;
 width: 500px;
 }

 .name{
 	font-size: 20px;
 }

 .brewery_type{
 	font-size: 15px;
 }

 .street{
 	font-size: 15px;
 }

 .srcresults{
 	margin-left: 30px;
 	border: solid black 1px;
 	width: 500px;
 	height: 40px;
 	background-color: gray;
 }

 .resultstext{
 	font-size: 25px;
 	color: black;
 	font-weight: 500;
 }

 .bar{
 	width: 1000px;
 }

 .groupbtn{
 	margin-right: 10px;
 }

 .foot{
 	border: solid black 5px;
 	margin-top: 300px;
 	font-family: sans-serif;
 	font-size: 14px;
 	float: center;
 	background-color: burlywood;
 	width: 1450px;
 	height: auto;
 }